#top-image {
    background-image: url("../img/pizza-bg-color.png");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

#cover1,
#cover2,
#cover3,
#cover4 {
    background-image: url("../img/pizza-bg-black.png");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
}

#cover1 {
    height: 50px;
}

#cover2 {
    height: 100px;
}

#cover3 {
    height: 150px;
}

#cover4 {
    height: 720px;
    background-attachment: fixed;
}

#space1,
#space2,
#space3,
#space4 {
    background-image: url("../img/pizza-bg-color.png");
    height: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#space1 {
    height: 50px;
}

#space2 {
    height: 40px;
}

#space3 {
    height: 30px;
}

#space4 {
    height: 20px;
}

#menu {
    border-top: 5px solid #fdb913;
    background-image: url("../img/grey-background.png");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    border-right: 5px solid #fdb913;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#navbar {
    overflow: hidden;
    background-color: #f2f2f2;
    width: 100%;
}


/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 60px;
}